<div class="col-xs-12 col-md-4">
  <div class="card card-<%= cycle('male', 'female') %>">
    <%= image_tag friend.try(:image_url) %>
    <div class="card-block">
      <h4 class="card-title"><%= friend.try(:name) %></h4>
      <a href="<%= friends_addfriend_path(friend.id) %>" class="btn btn-primary">Send Message</a>
    </div>
  </div>
</div>